/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/mspepident Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                      = null
    fasta                      = null

    // Preprocess options 
    tdf2mzml_threads           = 8
    fdrbench_mem_gb            = 16

    // Database preparation options
    entrapment_fold            = 0  // Set to integer (e.g., 2) to generate entrapment database
    
    // mzML processing options
    chunk_size                 = 0     // Set to integer > 0 to split mzML files into chunks

    // Comet identification options
    execute_comet              = true
    comet_params_file          = "${projectDir}/assets/params/comet.params"
    precursor_tol_ppm          = 10
    fragment_tol_da            = 0.02
    comet_spectrum_id_pattern  = '.*scan=(\\d+)$'
    comet_scan_id_pattern      = '^(?P<scan_id>\\d+)$'

    // MaxQuant identification options
    execute_maxquant           = true
    maxquant_params_file       = "${projectDir}/assets/params/maxquant.xml"
    maxquant_spectrum_id_pattern = ''
    maxquant_scan_id_pattern   = ''

    // MSAmanda identification options
    execute_msamanda           = true
    msamanda_params_file       = "${projectDir}/assets/params/msamanda.xml"
    msamanda_spectrum_id_pattern = '(.*)'
    msamanda_scan_id_pattern   = '.*scan=(?P<scan_id>\\d+)$'
    
    // MSFragger identification options
    execute_msfragger          = true
    msfragger_params_file      = "${projectDir}/assets/params/msfragger.params"
    msfragger_spectrum_id_pattern = '(.*)'
    msfragger_scan_id_pattern  = '.*scan=(?P<scan_id>\\d+)$'
    
    // MS-GF+ identification options
    execute_msgfplus           = true
    msgfplus_params_file       = "${projectDir}/assets/params/msgfplus_params.txt"
    msgfplus_split_fasta       = 0     // Number of FASTA splits (0 = no split)
    msgfplus_split_input       = 0     // Number of mzML splits (0 = no split)
    msgfplus_spectrum_id_pattern = '(.*)'
    msgfplus_scan_id_pattern   = '.*scan=(?P<scan_id>\\d+)$'
    
    // Sage identification options
    execute_sage               = true
    sage_config_file           = "${projectDir}/assets/params/sage_config.json"
    sage_prefilter_chunk_size  = 0
    sage_prefilter             = false
    sage_spectrum_id_pattern   = '(.*)'
    sage_scan_id_pattern       = '.*scan=(?P<scan_id>\\d+)$'
    
    // X!Tandem identification options
    execute_xtandem            = true
    xtandem_config_file        = "${projectDir}/assets/params/xtandem.xml"
    xtandem_spectrum_id_pattern = '(.*)'
    xtandem_scan_id_pattern    = '.*scan=(?P<scan_id>\\d+)$'

    // Postprocessing options
    execute_percolator         = true
    
    // MS2Rescore rescoring options
    execute_ms2rescore         = true
    ms2rescore_model           = 'HCD'
    ms2rescore_chunk_size      = 100000
    
    // Oktoberfest rescoring options
    execute_oktoberfest        = true
    oktoberfest_intensity_model = 'Prosit_2020_intensity_HCD'
    oktoberfest_irt_model      = 'Prosit_2019_irt'
    
    /*
    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null
    */

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = System.getenv('HOOK_URL')
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    validate_params            = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        // Removed global docker.runOptions - set per process in conf/modules.config
        process {
            withLabel: msconvert_image {
                container = 'docker.io/proteowizard/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.25073-842baef'
            }

            withLabel: tdf2mzml_image {
                container = 'quay.io/medbioinf/tdf2mzml:0.4'
                containerOptions = '-u $(id -u):$(id -g)'
            }

            withLabel: fdrbench_image {
                container = 'quay.io/medbioinf/fdrbench-nightly:146f77'
                containerOptions = '-u $(id -u):$(id -g)'
            }

            withLabel: python_image {
                container = 'ghcr.io/medbioinf/mspepid:latest'
                containerOptions = '-u $(id -u):$(id -g)'
            }

            withLabel: comet_image {
                container = 'quay.io/medbioinf/comet-ms:v2024.01.0'
                containerOptions = '-u $(id -u):$(id -g)'
            }

            withLabel: maxquant_image {
                container = 'quay.io/medbioinf/maxquant:2.6.3.0'
                containerOptions = '-u $(id -u):$(id -g)'
            }

            withLabel: msamanda_image {
                container = 'quay.io/medbioinf/msamanda:3.0.22.071'
                containerOptions = '-u $(id -u):$(id -g)'       
            }

            withLabel: msfragger_image {
                container = 'docker.io/medbioinf/msfragger:latest'
                containerOptions = '-u $(id -u):$(id -g)'
            }

            withLabel: msgfplus_image {
                container = 'quay.io/medbioinf/msgfplus:v2024.03.26'
                containerOptions = '-u $(id -u):$(id -g)'
            } 

            withLabel: mzidmerger_image {
                container = 'quay.io/medbioinf/mzid-merger:1.4.26'
                containerOptions = '-u $(id -u):$(id -g)'
            }

            withLabel: sage_image {
                container = 'quay.io/medbioinf/sage:v0.15.0-beta.1'
                containerOptions = '-u $(id -u):$(id -g)'
            }

            withLabel: xtandem_image {
                container = 'quay.io/medbioinf/xtandem:2017.2.1.4'
                containerOptions = '-u $(id -u):$(id -g)'
            }

            withLabel: percolator_image {
                container = 'ghcr.io/percolator/percolator:branch-3-08'
                containerOptions = '-u $(id -u):$(id -g)'
            }

            withLabel: oktoberfest_image {
                container = 'docker.io/medbioinf/oktoberfest:latest'
                containerOptions = '-u $(id -u):$(id -g) -e NUMBA_CACHE_DIR=/tmp'
            }
        }
    }
    arm64 {
        process.arch            = 'arm64'
        // TODO https://github.com/nf-core/modules/issues/6694
        // For now if you're using arm64 you have to use wave for the sake of the maintainers
        // wave profile
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    emulate_amd64 {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }
}

// Load nf-core custom profiles from different institutions

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load nf-core/mspepident custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"


// Load nf-core/mspepident custom profiles from different institutions.
// TODO nf-core: Optionally, you can add a pipeline-specific nf-core config at https://github.com/nf-core/configs
// includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/pipeline/mspepident.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'



// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/mspepident'
    contributors    = [
        // TODO nf-core: Update the field with the details of the contributors to your pipeline. New with Nextflow version 24.10.0
        [
            name: 'Prof. Julian Uszkoreit',
            affiliation: '',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
        [
            name: ' Dirk Winkelhardt',
            affiliation: '',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
        [
            name: ' Thulasi Priyadharshini Muruganandam',
            affiliation: '',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/nf-core/mspepident'
    description     = """A pipeline for the identification of peptides from mass spectrometry data, integrating multiple search engines and post-processing tools."""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=25.04.0'
    version         = '1.0.0dev'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.5.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
