/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: THERMORAWFILEPARSER {
        ext.args = {
            [
                '--format',
                '2',
            ].join(' ')
        }
    }

    withName: '.*:COMETCONFIG' {
        publishDir = [
            enabled: false
        ]
        ext.output_mzidentml = true
        ext.num_output_lines = 5
    }

    withName: '.*:SAGEBETA' {
        publishDir = [
            path: { "${params.outdir}/sage" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*:SAGECONFIG' {
        publishDir = [
            enabled: false
        ]
    }

    // set publishdir for percolator to be inside the searches (meta) output
    // the regex actually uses all imported functions ending with the PERCOLATOR -> also stuff like multiple imports and MS2RESCORE_PERCOLATOR
    withName: '.*PERCOLATOR' {
        publishDir = [
            path: { "${params.outdir}/${meta.outdir ?: 'percolator'}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]

        ext.args = {
            [
                '--only-psms',
                '--post-processing-tdc',
                '--search-input concatenated',
            ].join(' ')
        }
    }

    // set publishdir for MS2Rescore (pin files) to be inside the searches (meta) output
    withName: '.*:MS2RESCORE_RUNMS2RESCORE' {
        ext.chunk_size = 100000

        publishDir = [
            path: { "${params.outdir}/${meta.outdir ?: 'ms2rescore'}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    // set publishdir for MS2Rescore (pin files) to be inside the searches (meta) output
    withName: '.*:OKTOBERFEST_RUNOKTOBERFEST' {
        publishDir = [
            path: { "${params.outdir}/${meta.outdir ?: 'oktoberfest'}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
